[CONFIG]
CNF_USERNAME={{github_backup_username}}
CNF_PASS={{github_backup_password}}
CNF_ORGNAME={{github_backup_orgname}}
CNF_BKPFOLDER={{github_backup_bkpfolder}}
CNF_DAYSTOKEEP={{github_backup_daystokeep}}